/* Card Block */
.card {
  margin: 0;
  padding: 0;
  width: 282px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: relative;
}

.card__photo {
  width: 282px;
  height: 282px;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  width: 100%;
  padding: 25px 20px 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.card__title {
  margin: 0 auto 0 0;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  opacity: 1;
  transition: opacity 0.5s ease;
  height: 21px;
  width: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}