/* Elements Block */
.elements {
  margin: 0 auto;
  width: 282px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.elements__card {
  margin: 0;
  padding: 0;
  height: 361px;
  width: 282px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: relative;
}
.elements__card-photo {
  width: 282px;
  height: 282px;
}
.elements__card-content {
  height: 79px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  left: 0;
  bottom: 0;
}
.elements__card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.elements__card-favorite-btn {
  background-image: url('../images/favorite-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.5s ease;
  height: 21px;
  width: 21px;
  grid-column-start: 11;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.elements__card-favorite-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Large Screen devices */
@media screen and (min-width: 1280px) {
  .elements {
    width: 100%;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .elements__card-content {
    height: 79px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .elements__card-title {
    font-size: 24px;
  }
}

/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .elements {
    width: 584px;
    height: auto;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
}