/* Elements Block */
.elements {
  margin-top: 51px;
  margin-bottom: 66px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px 16px;
}

.element {
  margin: 0;
  padding: 0;
  height: 361px;
  width: 282px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.element__photo {
  width: 282px;
  height: 282px;
}