/* Footer Block */
.footer {
  width: 282px;
  margin: 48px auto 36px;
}

.footer__copyright {
  color: #545454;
  font-size: 14px;
}

/* Tablet devices */
@media screen and (min-width: 768px) {

  .footer {
    width: 584px;
    margin: 66px auto 60px;
  }

  .footer__copyright {
    font-size: 18px;
  }
  
}

/* Large Screens */
@media screen and (min-width: 1280px) {

  .footer {
    width: 880px;
  }

}
