.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s linear, opacity 0.5s linear;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__form {
  max-width: 282px;
  height: 322px;
  padding: 25px 22px;
  margin: 123px auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.modal__form-heading {
  font-size: 18px;
  font-weight: 900px;
  margin-top: 0;
  margin-bottom: 75px;
}

.modal__form-input {
  height: 27px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__form-input:last-of-type {
  margin-bottom: 0px;
}

.modal__form-save-button {
  margin-top: 45px;
  width: 100%;
  height: 46px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  border-style: none;
}

.modal__form-save-button:hover {
  cursor: pointer;
}

.modal__form-close-button {
  height: auto;
  width: 26px;
  padding: 0;
  border: none;
  position: absolute;
  top: -48px;
  right: 0px;
  background-color: transparent;
  transform: rotate(-45deg);
}

.modal__form-close-button:hover {
  cursor: pointer;
}

/* Media Query for Tablet devices */
@media screen and (min-width: 768px) {

  .modal__form {
    max-width: 430px;
    height: 330px;
    margin-top: 195px;
    padding: 34px 36px 36px;
    border-radius: 10px;
  }

  .modal__form-heading {
    font-size: 24px;
    margin-bottom: 54px;
  }

  .modal__form-save-button {
    margin-top: 48px;
    height: 50px;
  }

  .modal__form-close-button {
    height: 40px;
    width: 40px;
    top: -40px;
    right: -40px;
  }

}