/* Profile Block */
.profile {
  width: 286px;
  height: 286px;
  margin: 42px auto 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.profile__photo {
  height: 120px;
  width: 120px;
}
.profile__info {
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  margin: 30px 0 36px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
.profile__name {
  display: inline-block;
  margin: 0 0 14px 0;
  font-size: 22px;
  font-weight: 500;
}
.profile__edit-button {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  background-image: url('../images/edit-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__occupation {
  margin: 0;
  font-size: 14px;
}
.profile__add-button {
  height: 50px;
  width: 282px;
  background-image: url('../images/add-button-lg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Large Screens */
@media screen and (min-width: 1280px) {
  .profile {
    width: 100%;
    height: 120px;
    margin: 40px auto 51px;
    flex-direction: row;
  }
  .profile__info {
    width: 415px;
    margin-left: 30px;
    margin-right: 165px;
    text-align: left;
  }
  .profile__name {
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
  }
  .profile__edit-button {
    height: 24px;
    width: 24px;
    margin-left: 18px;
  }
  .profile__occupation {
    font-size: 18px;
  }
  .profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url('../images/add-button.png');
  }
}

/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    width: 100%;
    height: 120px;
    margin: 40px auto 51px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .profile__info {
    width: 415px;
    margin-left: 30px;
    margin-right: 40px;
    text-align: left;
  }
  .profile__name {
    margin-bottom: 16px;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
  }
  .profile__occupation {
    font-size: 18px;
  }
  .profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url('../images/add-button.png');
  }
}